<%= form_tag costs_path, method: :get do %>
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <%= number_field_tag :amount_min, params[:amount_min], step: 0.1, placeholder: 'min amount', class: "form-control" %>
    </div>
    <div class="col-auto">
      <%= number_field_tag :amount_max, params[:amount_max], step: 0.1, placeholder: 'max amount', class: "form-control" %>
    </div>
    <div class="col-auto">
      <%= submit_tag "Search", class: "btn btn-outline-success" %>
    </div>
  </div>
<% end %><br>
